{% extends 'main.html' %} {% load staticfiles%} {% load filters %} {% block style %}
<link rel="stylesheet" href="{% static 'assets/css/message_shablon.css' %}" /> {% endblock %} {% block content %} {{ group.owner }}




<section class="content">



    <div class="wraper container-fluid">


        <div class="row">

            <!-- Left sidebar -->

            <!-- End Left sidebar -->


            <!-- Right Sidebar -->


            {% include "shablon_message.html" with message=message files=files group=group only %}
        </div>

        {% for group in sending_message %} {% with number=forloop.counter|message_indentation %}

        <div class="answer_message" style="margin-left:{{ number  }}">
            {% include "shablon_message.html" with message=group.message group=group files=group.files number=forloop.counter|message_indentation:'1' only %}

        </div>
        {% endwith %} {% endfor %}

        <!-- end Col-9 -->

    </div>
    <!-- End row -->


    </div>
    <!-- END Wraper -->

    <script>
        let params = `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,
width=400,height=400,left=1000,top=-1000`;

        $('#perem_files').on('click', function() {
            alert(1)
            let cheked = $('.chk-files:checked')
            c = new Array()
            let uuid = cheked.map(function(index, val) {
                c.push(val.getAttribute('data-file-uuid'))
                return 1
            })

            uuid = c.join(',')
            str_ = '{% url "poligon" %}' + '?names=' + uuid

            new_win = window.open(str_, 'file_manager', params)

            new_win.onload = function() {
                let html = `<div style="font-size:30px">Добро пожаловать!</div>`;
                new_win.document.body.insertAdjacentHTML('afterbegin', html);

            };

        })
    </script>


</section>


{% endblock %} {% block js %} {% endblock %}