{% extends 'main.html' %} {% load staticfiles%} {% load filters %} {% block style %}
<link rel="stylesheet" href="{% static 'assets/css/message_shablon.css' %}" /> {% endblock %} {% block content %} {{ group.owner }}




<section class="content">



    <div class="wraper container-fluid">


        <div class="row">

            <!-- Left sidebar -->

            <!-- End Left sidebar -->


            <!-- Right Sidebar -->
        
      
    {% include "shablon_message.html" with message=message files=files group=group only %}
</div>
    
     {% for group in sending_message %} {% with number=forloop.counter|message_indentation %}
     
                <div class="answer_message" style="margin-left:{{ number  }}">
  {% include "shablon_message.html" with message=group.message group=group number=forloop.counter|message_indentation:'1' only %}
           
                </div>
                {% endwith %} {% endfor %}

            <!-- end Col-9 -->

        </div>
        <!-- End row -->


    </div>
    <!-- END Wraper -->



</section>


{% endblock %} {% block js %} {% endblock %}