{% extends 'main.html' %}
{% load staticfiles%}
{% load filters  %}
{% block style  %}
<link rel="stylesheet" href="{% static 'assets/css/main_message.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/css/loader.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/css/search_buttom.css' %}"/>
<!--

<link rel="stylesheet" href="{% static 'assets/modal_form/feedback/vendors/bootstrap/css/bootstrap.min.css' %}"/>
-->

<link rel="stylesheet" href="{% static 'assets/modal_form/feedback/css/main.css' %}"/>

<link href="{% static 'assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/all-message-block.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/folder-block.css' %}" rel="stylesheet" />

{% endblock %}
{% block content %}

<section class="content">

			<div class="wraper container-fluid">
        
                  
                <div class="row">
                    
                    <!-- Left sidebar -->
  
                 
                    <!-- End Left sidebar -->
                    

                    <!-- Right Sidebar -->
                    <div class="col-md-12">
                        <div class="row">

                        
                            <div class="col-lg-12">
                                {% include 'discret/head_message.html' %}
                            </div>
                            
                        </div> <!-- End row -->
                        


                        
                        <div class="panel panel-default m-t-20 main-messag-block">
<!--  ################# -->
{% include 'hat-mail.html' %}
<!--  ################# -->
{% include 'message_table_tr.html' %}
                     <hr>
{% include 'modal_folder_create.html' %}
{% include 'modal_read_message.html'  %}
{% include 'modal_create_signature.html'  %}




                                </div>
                            
                            </div> <!-- panel body -->
                                {% include 'pagination.html' %}
                        </div> <!-- panel -->
                    </div> <!-- end Col-9 -->
                
                </div><!-- End row -->


            </div> <!-- END Wraper -->

		

		</section>


   
        

          <!--          -->
{% include 'shablon/folder-all-view.html' %}

{% endblock %}

{% block  js%}


                     <script>

// vue
var myVar;

var static_icon_peresilka = "{% static 'icon/forward-arrow.png' %}"



get_notificate_url = '{% url "get_notificates" %}'


//vue

 $(function(){
  // Нажатие на любую  область message 



 $.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }
    });


     $("#editor").editor({
                uiLibrary: 'bootstrap4'
            });

  
  $('#activate_signature').on('click', function(){
     $('#modal_create_signature').modal()

   })





var req_us = "{{ req_us }}"   // zareg user
{% include 'js/createmessage.js'  %}  // sozdanie otobr message iz array

{% include 'js/search_mes Word.js' %}  // ajax zapr na poisk po slovam 


{% include 'js/update_page.js' %}

{% include 'js/hat_mail.js'  %} 
{% include 'js/promise_update.js' %}

// osnovnaya zagruzka soobsheniy





$('.list-group-item').removeClass('active')
$('.vhod-folder').addClass('active')
$("#inputState_prof").on('click', function(){
 let c = $('#inputState_prof >   option:contains(' + $('#inputState_prof').val() + ')')
   let id_prof = c.data('profile')
   let params = {prof: id_prof}

    sort_Message(params)
}) 



$('table').on('click', '.ion-eye', function(event){   // shim  na eye show message 

  pk_mes_s =  $(this).attr('pk_mes')    //pk-mes
  pk_mes =  $(this).attr('message-pk')  
  re = pk_mes_s || pk_mes
  get_message(re)



});   //attr('message-pk',pk_mes)

 

// ('.fa-star').attr('data-pk')  --- pk mes    
{% include 'js/getMessageAndModal.js' %}  // show message modal and get message 





{% include 'js/get_cookie.js' %}

{% include 'js/folder_actions.js' %}

// ###################################################################################


/// #######################################################    url: '{% url "answ_mes" %}',




/////////////////////////////


$('.btn-pag-l').on('click',function(){
let sort = $(this).attr('data-sort')
 let c = $('#inputState_prof >   option:contains(' + $('#inputState_prof').val() + ')')
 let id_prof = c.data('profile') 
let page = $(this).attr('data-page')

 params = {sort: sort, page: page, prof: id_prof}

      window.update_stop = true
    update_promise(params).then((update) => {
        window.update_stop = update

    })


})



function pagination(num_page, num_pages, has_prev, has_next){
  let left_button = $('.btn-left')[0]
  let right_button = $('.btn-right')[0]
  if (!has_prev){
    $(left_button).hide()
  }else{
    $(left_button).attr('data-page', num_page - 1)
    $(left_button).show()
 $(left_button).data()['page'] = num_page- 1 
  }
  if(!has_next){
    $(right_button).hide()
  }else{
     $(right_button).show()
     $(right_button).attr('data-page', num_page +  1)
  }

$('#page_num_page').text(num_page)
$('#page_num_all').text(num_pages)
}


{% include 'js/sortMessage.js' %} // main  function ajax query 

{% include 'js/folder_click.js' %} 


  $('.sorting_asc').off().on('click', function(){
      let  sort = $(this).attr('data-sort')
      let pr = $('#inputState_prof >   option:contains(' + $('#inputState_prof').val() + ')')
     let id_prof = pr.data('profile') 
 
      if (sort.split('-').length > 1 ){
          $(this).attr('data-sort', sort.split('-')[1])
       }else{
            $(this).attr('data-sort','-' +  sort  )
       }
        let sorts = $(this).attr('data-sort')
        params = {sort: sort, page:1, prof: id_prof}
        sort_Message(params)
  }
)
// clik on  list filter message
$('.list-filter-item').off().on('click', function(){

  
     $('#filter-indicator').text($(this).text()  )       //  str u ikonki
     window.filter = $(this).data('filter')
    // windows.filter = $(this).data('filter')
  }

)

function in_fold(fold){

   var mess = new Array()
       
       $('.cr-styled >     input:checkbox:checked').each(function(){
          
                 mess.push((($(this).parents(".message")).find('.fa-star').data('pk') )) ;                 
                          });
    
     
    if(mess.length > 0){

      in_Fold(mess, fold)


    }else{
      alert('Добавте сообщение')
    }
}

$('.in_fold').off().on('click', function(){
    var fold_id = $(this).data('pk') 
    in_fold(fold_id)
  
} 
)


function in_Fold(pk_mes,pk_fold){

var  dat = { 
  pk_mes: pk_mes + '',
  pk_fold: pk_fold,
    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
};

    $.ajax({
        url: '{% url "in_fold" %}' , //url страницы (action_ajax_form.php)
        type:     "POST", //метод отправки
        dataType: "html", //формат данныUх
        
        data:  dat,  // Сеарилизуем объект
        cache: false,
        success: function(response) { //Данные отправлены успешно
    	},
    	error: function(response) { // Данные не отправлены
        return {'error': 'error'} 
    	}
 	})
}



$('#ubr_iz_kor').off().on('click', function(){
   if (confirm('вы уверены ?')){
          var c = new Array()
       $('.cr-styled >     input:checkbox:checked').each(function(){
          
                 c.push($(this).data('pk'));                 
                          });
                        
                    messageUbrizkor(c)
  }else{ 
    $('.cr-styled >  input:checkbox:checked').prop({'checked': false})
  }
})

// folder

$('#list-folder').click(()=>{

$(this).toggleClass('active')
let aside = $('.folder-all-block')
aside.toggleClass('right-panel-active')


})


//folder

function   messageUbrizkor(pk){

var  dat = { 
  pk: pk + '',
};

    $.ajax({
        url: '{% url "ubrizkor" %}' , //url страницы (action_ajax_form.php)
        type:     "POST", //метод отправки
        dataType: "html", //формат данныUх
        
        data:  dat,  // Сеарилизуем объект
        cache: false,
        success: function(response) { //Данные отправлены успешно
    
    	},
    	error: function(response) { // Данные не отправлены
       
    	}
 	})

}







function messageDelete(pk, intrush){

var  dat = { 
  pk: pk + '',
  folder: window.folder,
  csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
  intrush: 'False',
};
if (intrush== true){dat.intrush =  "True" }


    $.ajax({
        url: '{% url "messagedel" %}' , //url страницы (action_ajax_form.php)
        type:     "POST", //метод отправки
        dataType: "html", //формат данных
        
        data:  dat,  // Сеарилизуем объект
        cache: false,
        success: function(response) { //Данные отправлены успешно
      
    	},
    	error: function(response) { // Данные не отправлены
       
    	}
 	})

}










$('.btn-trush').off().on('click', ( function(){
  if (confirm('вы уверены ?')){
          var c = new Array()
       $('.cr-styled >     input:checkbox:checked').each(function(){
          
                 c.push($(this).data('pk'));                 
                          });
                         
                    messageDelete(c, false)
  }else{ 
    $('.cr-styled >  input:checkbox:checked').prop({'checked': false})
  }
  $('input:checked').prop('checked', false);
}))



$('#del_label_all').on('click', function(){
   $('.folder-cell input:checkbox').prop({'checked': true})
})
 

$('#del_label').off().on('click', ( function(){
  if (confirm('вы уверены ?')){
       $('.folder-cell        input:checkbox:checked').each(function(){
                let c = new Array()
                 c.push($(this).parent().data('pk'));    
                  $(this).parent().hide();
          
	
                 folderDelete(c)
                          });
  }else{ 
    $('.folder-cell input:checkbox:checked').prop({'checked': false})
  }

}))










function CreateFold(name, description) {


    $.ajax({
        url: '{% url "createfolders" %}' , //url страницы (action_ajax_form.php)
        type:     "POST", //метод отправки
        dataType: "html", //формат данных
        data:  {
        name: name,
        
        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val() , 
        description: description,
                },  // Сеарилизуем объект
        cache: false,
        success: function(response) { //Данные отправлены успешно
        	result = $.parseJSON(response);


        	if (result['error'] ){
              $('.d-none').removeClass('alert-success')
               $('.d-none').addClass('alert-danger')
                  $('.d-none').text( 'ошибка:' + result['error']) 
                    alertify.error(result['error']);
          }else{
                     $('.d-none').removeClass('alert-danger')
               $('.d-none').addClass('alert-succes')
                  $('.d-none').text('Успешно')
                    alertify.success("Папка создана");
          let id_fold =   result['id']
            let html = `  <div class='block-folder '>

<svg class='folder-icon'   title='${description}'  data-id='${id_fold}' viewBox="0 0 80 80" width="150px" height="100px"><path fill="#dbb065" d="M2.5 71.5L2.5 8.5 23.793 8.5 29.793 14.5 73.5 14.5 73.5 71.5z"/><path fill="#967a44" d="M23.586,9l5.707,5.707L29.586,15H30h43v56H3V9H23.586 M24,8H2v64h72V14H30L24,8L24,8z"/><g><path fill="#f5ce85" d="M2.573 71.5L8.437 28.5 30.151 28.5 36.151 24.5 79.434 24.5 73.559 71.5z"/><path fill="#967a44" d="M78.867,25l-5.75,46H3.146l5.727-42H30h0.303l0.252-0.168L36.303,25H78.867 M80,24H36l-6,4H8L2,72 h72L80,24L80,24z"/></g></svg>
      <p class= "name-folder"> ${name} </p>
    </div>  `

  $('.block-folders').append(html)




                            }
                    
                
                            

    	},

    	error: function(response) { // Данные не отправлены
 
    	  }
 	});
    
  //   $('#nn').show('slow')

}

function createSignature(signature,type,name){
      $.ajax({
        url: '{% url "createsignature" %}' , //url страницы (action_ajax_form.php)
        type:     "POST", //метод отправки
        dataType: "json", //формат данных
        data:  {
        text:signature,
        type: type ,
        name: name,
    
        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                },  // Сеарилизуем объект
        cache: false,
        success: function(response) { //Данные отправлены успешно
        	result = response;

        	if (result['error'] ){
              $('.d-none-signature').removeClass('alert-success')
               $('.d-none-signature').addClass('alert-danger')
                  $('.d-none-signature').text( 'ошибка:' + result['error']) 
                       $('#sign').show()
          }else{
               alertify.success(result['status']);
       
                            }
                       

    	},

    	error: function(response) { // Данные не отправлены
   
    	  }
 	});

}



$("#inputState_signature").on('click', function(){
 let label = $('.label-signature')
 let shablon_name = $('#shablon_name')
 let c = $('#inputState_signature >   option:contains(' + $('#inputState_signature').val() + ')')
   let  type  = c.data('type') 
   if (type == 1  ){        //1 - shablon
    label.empty()
      shablon_name.show()
    label.html('Создание  шаблона сообщения пользователя ' + req_us)
   }else{
     shablon_name.hide()
     label.html('Создание  подписи  пользователя ' + req_us)
   }
}) 


// Создание папки
$('#btn').off().on('click', function(){    //  no signature no !!
  let name_fold = $('#name').val();
  let description = $('#description').val();
   let  id_fold = 	CreateFold(name_fold, description);
  

     return false
});

$('#btn_create_signature').off().on('click', function(){
      let signature = $('#editor').val()
      let c = $('#inputState_signature >   option:contains(' + $('#inputState_signature').val() + ')')
      let  type  = c.data('type') 
      if (type == 1){
        var name_shablon = $('#name_shablon').val()
        if (name_shablon.length < 3 || signature.length < 5 ){
          alert('Неправильно заполнены поля')
        }else{
           createSignature(signature, type,name_shablon )
        }
       }else{
        name_shablon = ''
          createSignature(signature, type,name_shablon )
      }


  return false 
});

 
});   

$(document).on('click', '.fa-star', function(){

function in_Fold_s(pk_mes,pk_fold){

var  dat = { 
  pk_mes: pk_mes + '',
  pk_fold: pk_fold,
};

    $.ajax({
        url: '{% url "in_fold" %}' , //url страницы (action_ajax_form.php)
        type:     "POST", //метод отправки
        dataType: "html", //формат данныUх
        
        data:   dat,  // Сеарилизуем объект
        cache: false,
        success: function(response) { //Данные отправлены успешно
    
    	},
    	error: function(response) { // Данные не отправлены
        return {'error': 'error'} 
    	}
 	})
}



let dat = {
pk_mes: $(this).data('pk'),
pk_fold: {{ favorite.pk }}, 

};
if (  $(this).hasClass("fa-star-active") ) {
 $(this).removeClass("fa-star-active");
  $.ajax({
    url: '{% url "del_iz_fold" %}',
    type: "POST",
    dataType: "html",
    data:  dat,
    cache: false,
    succes: function(response) { // Данные 
          
    },
    error: function(response) { // Данные не отправлены 
           alert('error')
    }


  }) 

  
  }else{
 
    $(this).addClass("fa-star-active")

       in_Fold_s([dat['pk_mes']],dat['pk_fold'])

  }
});
</script>
  {% endblock %}

