<div class="row row-pagination ">
    <div class="col-xs-2 page-block">

        Страница
        <p id='page_num_page' class="number-page"> {{ mes.number }} </p> из
        <p id='page_num_all' class="number-page"> {{ mes.paginator.num_pages }}</p>

    </div>
    <div class="col-xs-10 control-pages">
        <div class="pagination my-pagination">
            <span class="step-links">
                                              <div class="btn-group pull-left ">                                            
                                                 <button type="button"  data-sort='-lifetime' data-page='1'class=" btn-left btn-pag btn-pag-l btn btn-default my_class_btn" style='display:none'><i class="fa fa-chevron-left"></i></button> </a>
    
                                      

                                            

                                            
                                          <button type="button"  data-sort='-lifetime' data-page='2' class="btn-pag btn-pag-l btn btn-default my_class_btn btn-right"><i class="fa fa-chevron-right"></i></button> </a>
                                                       
                            
                                                </div> 
                                            </span>
        </div>

    </div>