            {% load staticfiles %}
               
                        <div class="modal-header">
        <slot name="header">
                            Файловый менеджер
                            </slot>
                  <div class='button-group'>          
             <img @click="folders_up_level" style=" height: 20px; width: auto; cursor: pointer; "  src='{% static  '/icon/back.png' %}'>  </img >   
                        <img  src='{% static  '/icon/home.png' %}'  @click="folders_home" style="cursor: pointer;  height: 20px; width: auto; "></img>
                              <img   src='{% static  '/icon/close.png' %}' style="cursor: pointer;  height: 25px; width: auto; "  class="modal-default-button" @click="close">
                   
                  </img>
 <img   @click="send"  src='{% static  '/icon/zagruziit.png' %}' style="cursor: pointer;  height: 25px; width: auto;" class="modal-default-button"> </img>

<my-input> </my-input>
</div>
           
       

                  

                        </div>

                        <div class="modal-body">
                            <slot name="body">

                                <file v-for='file in files' :file='file'> {{file}} </file>
                                  <search_dir v-for='dir in search_dirs' :dir='dir'> {{dir}} </search_dir>
                            </slot>
                        </div>

                        <div class="modal-footer">
                            Перемещаемые файлы:
                             
   {% for i in name_files %}
   <div class="footer-file"> 
            <img src="/static/icon/file.png" style= "width:auto; height: 40px" class="file br-radius m-r-10">
         <p style="font-size:10px">   {{i}} </p>
             </img> 
</div>
   {% endfor %}                           
                        </div>