{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title> </title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/ftp_main.css' %}">
<script src="{% static  'assets/js/jq/jquery.min.js' %}"></script>
    <!-- template for the modal component -->

    <script type="text/x-template" id="modal-template">
        <transition name="modal" >
            <div class=" row" style="display: flex; flex-wrap:nowrap">
           
<div class="col-lg-1  col-2 col-md-1 col-ms-2 col-sm-2  nav-menu row"   style="">

<ul class="nav flex-column " id = "nav">
  <li class="nav-item"  @click="folders_home">

 <p>
      <img  src='{% static  '/img/home_astra.png' %}'    style="height:25px; width: auto;">   </img>
      <b>Домашняя </b </p>
  </li>
  <li class="nav-item"  @click="get_folders_spec('doc')" >
   <p>
   <img  src='{% static   'img/document_astra.png' %}'       style="height:25px; width: auto;" > </img>
    <b> Документы</b> </p>
  </li>
  <li class="nav-item"   @click="get_folders_spec('zagr')"     >
  <p>
    <img  src='{% static   'img/download_astra.png' %}'  @click="get_folders_spec('doc')"     style="height:25px; width: auto;" >    </img> 
     <b>Загрузки </b>
     </p>
  </li>

  <li class="nav-item"   @click="get_folders_spec('desktop')"  >
    <p>
    <img  src='{% static   'img/desktop_astra.png' %}'  @click="get_folders_spec('doc')"     style="height:25px; width: auto;" >    </img> 
 <b> Рабочий стол</b>  </p>
  </li>
</ul>

</div>



                    <div class="modal-container col-8 col-sm-8 col-lg-10 col-md-10 col-ms-10">
{% include "template_modal.html"%}
                    </div>
       

                        <div class="modal-footer col-1 col-sm-1  col-lg-1 col-md-1 col-ms-1 ">
                            Перемещаемые файлы:
                             
   {% for i in name_files %}
   <div class="footer-file"> 
            <img src="/static/icon/file.png" style= "width:auto; height: 40px" class="file br-radius m-r-10">
         <p style="font-size:10px">   {{i}} </p>
             </img> 
</div>
   {% endfor %}               
</div>

                        </div>

            </div>
        </transition>
    </script>
</head>

<body>
    <!-- app 

        {{files_to_transfer}}
    -->
    {% verbatim %}
    <div id="app">


<!--        <button id="show-modal" @click="showModal = true">Show Modal</button> -->

        <modal v-if="showModal" @close="showModal = false" :files='files'  :search_dirs='search_dirs'>
            <h3 slot="header"></h3>
        </modal>
        
{% endverbatim %}

 

{% verbatim %}
    </div>

    <script>
/*
$('body').on('keypress','#search-input', function(){
  if (typeof timer !== "undefined"){
    timer =  clearTimeout(timer)if (typeof timer !== "undefined"){
    timer =  clearTimeout(timer)
  
    timer = setTimeout(function(){alert($('#search-input').val());clearTimeout(timer); delete timer  }, 500)
  }else{
  
   timer = setTimeout(function(){alert($('#search-input').val());clearTimeout(timer); delete timer  }, 500)
  }
}) */


        Vue.component("modal", {
            props: ['files','search_dirs'],
            template: "#modal-template",
            methods:{
                folders_up_level: function(){
                    this.$root.$options.methods.folders_up_level()
                },
                get_folders_spec: function(name){
                    this.$root.$options.methods.get_folders_spec(name)
                },
                folders_home: function(){
                
                    this.$root.$options.methods.folders_home()
                },
                 folders_home: function(){
                
                    this.$root.$options.methods.folders_home()
                },  
                send: function(){
                    this.$root.$options.methods.send()
                },
                close: function(){
                    window.close()
                }


            }

        });



        Vue.component("nav", {
            props: [''],
            template: "#nav",
            methods:{


            }

        });



        Vue.component("file", {
            props: ['file'],
           {% endverbatim %}
            template: "<span class='file'> <img  src='{% static   'img/folder_astra.png' %}'@click='click(file)' >  </img> <span class='file-podp'> {% verbatim %} {{file}}  </span> </span>" ,
                
            methods:{
                click: function(name){
                 this.$root.$options.methods.get_data_folder(name)
                },
               
            }
                    });

        Vue.component("search_dir", {
            props: ['dir'],
           {% endverbatim %}
            template: "<span class='file'> <img  src='{% static  '/img/folder.png' %}'@click='click(dir.pwd,dir.key)' >  </img> <span class='file-podp'> {% verbatim %} {{dir.key}}  </span> </span>" ,
                
            methods:{
                click: function(path, key){
                 this.$root.$options.methods.get_data_folder_from_search('/' + path,key)
                },
               
            }
        });




       Vue.component("my-input", {
            props: [''],
            data(){
                return{
                    name:'name'
                }
            },
            template: `<div id="search">
<span class="" style="position: absolute; right:40px; display: inline-block; direction: ltr; ">
<input type="search"  class="form-control ds-input" v-model='name' id="search-input" placeholder=""    autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" style="position: relative; vertical-align: top;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="ds-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0" style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;">
<div class="ds-dataset-1"></div></span></span>
</div>`,
watch: {
  'name': function(newval,old) {
   fun = this.$root.$options.methods.search_f


  if (typeof timer !== "undefined"){
    timer =  clearTimeout(timer)

    timer = setTimeout(function(){fun(newval);clearTimeout(timer); delete timer  }, 500)
  }else{

   timer = setTimeout(function(){fun(newval);clearTimeout(timer); delete timer  }, 500)
  }

       
  }
}

        });
 

        var vebs = new Vue({
            el: "#app",
            data() {
                return{
                showModal: true,
                files: [""],
                search:'',
                old_files:[],
                search_dirs:[],
                old_curent_path:[],
                curent_path:'',
                {% endverbatim %}
                files_to_transfer: '{{files}}'.split(' ')
                {%  verbatim %}

                }
            },
            mounted() {
      {% endverbatim %}


                axios
                    .get('{% url "get_content_dir" %}',{
                        params:{
                            get_transition_path: ''
                        }
                    })
               
                    .then(response => this.update_vision_folder(response.data, '') )
            },
            methods: {

                search_f: function(name){
                  var params = new URLSearchParams();
                    params.append('name', name)
                
                     axios.
                    get('{% url "search_dir"  %}',{
                        params: {
                            search: name
                        }}
                        ) 
                        .then(response => vebs.update_vision_folder_search(response.data, name)  ) 
        


                },
                 update_vision_folder_search: function(response, name){ 
                          if (name.length > 0){
                         
                          if (vebs.old_files.length > 0){
                              console.log('yes')
                            
                          }else{
                              console.log('no')
                          vebs.old_curent_path =  vebs.curent_path
                            vebs.old_files = vebs.files
                             vebs.files = []
                         
                          }
                         
                          //vebs.search_dirs = name.split(' ')
                          for (key in response) {
                              console.log(key + " " + String(response[key]).replace(/,/g,'/')  )
                              vebs.search_dirs.push({
                                  key: key.replace(/\s{2,}/g, ' ').trim(),
                                  pwd: String(response[key]).replace(/\s{2,}/g, ' ').replace(/,/g,'/').trim()
                              })
                          }
                        }else{
                            vebs.files = vebs.old_files
                            vebs.old_files =  []
                            vebs.search_dirs = []
                            vebs.curent_path =  vebs.old_curent_path
                        }
                        
                          
                 },
                send: function(){
                    var params = new URLSearchParams();
                    params.append('files', vebs.files_to_transfer);
                    params.append('dir_', vebs.curent_path);
                    axios.
                    post('{% url  "send_files" %}',params)
                },
                get_folders_spec: function(name){
           
                    this.get_data_folder('+spec_' + name)
                },
                get_data_folder: function(name){
                    name = name ? name : ''
                
                    axios.
                    get('{% url "get_content_dir"  %}',{
                        params: {
                            get_transition_path:  '+spec' != name.split('_')[0]  ? vebs.curent_path +  name  : name
                        }}
                        )
                        .then(response => this.update_vision_folder(response.data, name)  ) 
                },
                get_data_folder_from_search: function(path,key){
                    axios.
                        get('{% url "get_content_dir"  %}',{
                            params: {
                                get_transition_path:  path + '/' + key
                            }
                            }).then(response => this.update_vision_folder(response.data, key)  ) 
                },
                update_vision_folder: function(response, name){
                    vebs.search_dirs = [],
                     vebs.files =  response['dirs']
                     
                     vebs.curent_path =  response['cur_path'] 
                     //vebs.curent_path  +  name + '/'
                    if (vebs.files.length == 0){
                        $('.modal-body > .not_fold').remove()
$('.modal-body').append('<h1 class="not_fold"> В этой папке нет папок. </h1>')
                     }else{
                         $('.modal-body>h1').remove()
                     } 
                      
                },
                 folders_up_level: function(){
                   vebs.curent_path = vebs.curent_path.split('/').slice(0,-2).join('/')
                   vebs.get_data_folder()
                },
                 folders_home: function(){
                   vebs.curent_path = ''
                   vebs.get_data_folder()

                }
            }
        });
//setTimeout(function(){window.close()}, 4000)



    </script>
   

   
</body>

</html>