{% load staticfiles %}

  

         <script src="{% static 'assets/js/app.js' %}"></script>
		<script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>
        


 <!--       <script src="{% static 'assets/plugins/chat/moment-2.2.1.js' %}"></script>
        <script src="{% static 'assets/plugins/toggles/toggles.min.js' %}"></script> --> 
<!--   glav scripts -->
    
  <!--      <script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>  --> 

 <script src="{% static 'assets/plugins/dgoguerra-bootstrap-menu/webpack.min.config.js' %}"></script>

 <!-- Отлов клика правой кнопкой мыши -->
  <script src="{% static 'assets/plugins/dgoguerra-bootstrap-menu/src/BootstrapMenu.js' %}"></script>
    <script src="{% static 'assets/plugins/dgoguerra-bootstrap-menu/dist/BootstrapMenu.js' %}"></script>
    