
    
    <aside class="left-panel"  style = 'z-index: 800'>

			<!-- Navbar -->
			<nav class="navigation">
				<ul class="list-unstyled">
					<li class="active">
						<a href="index-2.html"><i class="ion-home"></i> <span class="nav-label">Главная</span></a>
					</li>
				
					<li class="has-submenu">
						<a href="#"><i class="ion-settings"></i> <span class="nav-label">Пользователи</span> <span class="caret pull-right m-t-10"></span></a>
						<ul class="list-unstyled">
							<li>
								<a href="grid.html">Grid</a>
							</li>
							<li>
								<a href="portlets.html">Portlets</a>
							</li>
							<li>
								<a href="nestable-list.html">Nesteble</a>
							</li>
							<li>
								<a href="calendar.html">Calendar</a>
							</li>
						</ul>
					</li>

	
			

					
					<li>
						<a href="pagejax.html"><i class="ion-home"></i> <span class="nav-label">Организации</span></a>
					</li>

					<li class="has-submenu">
						<a href="#"><i class="ion-email"></i> <span class="nav-label">Почтовый ящик</span> <span class="caret pull-right m-t-10"></span></a>
						<ul class="list-unstyled">
							<li>
								<a href="inbox.html">Inbox</a>
							</li>
							<li>
								<a href="email-compose.html">Compose Mail</a>
							</li>
							<li>
								<a href="email-read.html">View Mail</a>
							</li>
						</ul>
					</li>

				
				</ul>
			</nav>
			<!-- End Navbar -->

		</aside>