
    {% load staticfiles%}
    <aside class="left-panel collapsed"  style = 'z-index: 800'>

			<!-- Navbar -->
			<nav class="navigation">
				<ul class="list-unstyled">
					<li class="active">
						<a href="index-2.html"><i class="ion-home"></i> <span class="nav-label">Главная</span></a>
					</li>
				
					<li class="has-submenu">
						<a href="#"><i class="ion-settings"></i> <span class="nav-label">Пользователи</span> <span class="caret pull-right m-t-10"></span></a>
						<ul class="list-unstyled">
							<li>
								<a href='{% url "profiles" %}' >Все пользователи</a>
							</li>
							<li>
								<a href="{% url  'myprofiles' %}">Мои пользователи</a>
							</li>
	<!--						<li>
								<a href="nestable-list.html">Мои контакты</a>
							</li> --> 
							<li>
								<a href="{% url 'create_users'  %}">Создать Профиль</a>
							</li>
						</ul>
					</li>

	
			

					
					<li>
						<a href="{% url 'organizations'  %}"><i class="ion-home"></i> <span class="nav-label">Организации</span></a>
					</li>

					<li class="has-submenu">
						<a href="{% url 'main' 'all' %}"><i class="ion-email"></i> <span class="nav-label">Почтовый ящик</span> </a>
					</li>

				
				</ul>
			</nav>
			<!-- End Navbar -->

		</aside>